body {
  font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3, h4, h5 {
  color: #212529;
}

.btn-dark {
  background-color: #212529;
  border-color: #212529;
}

.btn-dark:hover {
  background-color: #000;
  border-color: #000;
}
